@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Status</title>
</head>
<body>
    <div>
        Your tests began to execute. Please look at ... folder for results.
    </div>
</body>
</html>
